@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Rajdhani', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff
}

header {
    color: #212529;
    font-family: 'Rajdhani', sans-serif;
    padding: 0px 20px;
    width: 100%;
    height: 100%;
}

div{
    box-sizing: border-box;
}

img{
    vertical-align: middle;
    border-style: none;
}

li{
    font-size: 24px;
    color: #fff;
    font-weight: bold;

}

p{
    margin-top: 0;
}

ul{
    list-style: none;
}

li{
    list-style: none;

}

h6{

    margin-block-start: -1.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1{
    font-weight: 700;
    font-size: 66px;
    line-height: 72px;
}

/* ID*/

#contactos {
        position: relative;
        top: 380px;
        color: white;
        background-color: #010521;
}

#contactos li {
    color: white;
    font-size: 20px;
    font-weight: lighter;
}

#noticias {
        position: relative;
        top: 380px;
        color: black;
        background-color: white;
}

#noticias h4 {
    color: rgb(240,134,49);
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

#noticias h2{
    font-size: 45px;
    line-height: 1;
    text-transform: uppercase;
}

#noticias h3 {
    line-height: 1;
    font-size: 25px;
    padding-bottom: 10px;
}

/* Class*/

.contenedor {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.fila {
    display: flex;
    flex-direction: row;
}

.columna {
    flex-basis: 0;
    flex-grow: 1;
}

.banner_completo{
    background-color: #353956;
}

.menu_cabecera{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;

}

.barra_derecha{

    position: relative;
    padding: 42px 0;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.imagen{
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.logo{
    margin-bottom: 0;
    margin: 0 0 1rem;
    
}

.logo0{
    max-width: 100%;
    height: auto;
}

.boton{
    display: none;
}

.contacto{
    display: flex!important;
    flex-basis: auto;
    align-items: center;
}
.lista{
    align-items: center;
    display: inherit;
    padding-left: 37px;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
}

.listainicio{
    padding: 30px ;
}

.img_contacto{
    margin-left: 50px;
    

}

.img_contacto1{
    height: 55px;
    width: 55px;
    line-height: 55px;
    background: #fff;
    border-radius: 100px;
    text-align: center;
    float: left;

}

.img_contacto2{
    max-width: 100%;
    height: 80%; /* aquí se varió de auto a 80% con la finalidad de encajar la imagen de llamada */

}

.texto_contacto{
    padding-left: 75px;
    padding-top: 0;   
}

.texto_contacto1{
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    font-weight: 500;
}

.texto_contacto2{
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    font-weight: 700;
    display: inline-block;
}

.cabecera2{
    padding: 100px 95px 280px;
    position: relative;
    width: 100%;
    height: auto;

}

.caja_contenido{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.caja_fila{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.caja_fila_1{

    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 55%;
}

.lista_iconos{
    left: -96px;
    top: -50px;
    position: absolute;
    padding-left: 0;
    margin-top: 0px;
    margin-bottom: 1rem;

}

.logos{
    font-size: 20px;
    margin-top: 2px;
    border-radius: 100px;
    text-align: center;
    width: 32px;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    
}

.listafav{
    padding: 8px;
}

.banner_bajo1{
    position: absolute;
    display: block;
    top: -75px;
    left: 18px;
    margin-bottom: 0;
    
}

.texto_blanco{
    margin-bottom: 18px;
    padding-left: 88px;
    color: #fff;


}

.texto_blanco1{
    margin-bottom: 18px;
    padding-left: 0px;
    color: #fff;


}

h6.texto_blanco{    
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
}

h1.texto_blanco1{
    margin-bottom: 14px;
    color: #fff;

}

.botonesbanner{
    background: #fa6220;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    border-radius: 30px;
    padding: 10px 10px 10px 15px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    margin-top: -5px;

}

.banner_derecha{
    flex: 80%;
    max-width: 65%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.img_bannerderecha{
    right: 0;
    top: -84px;
    position: absolute;
    margin-bottom: 0;
    margin: 0 0 1rem;
}

.img_bannerderecha1{
    width: 350px;
    border-radius: 200px 200px 0 200px;
    position: absolute;
    margin-top: -40px;
}



.offer h1{
    text-align: center;
    font-size: 20px;
    color: #f86823;
}
.offer h2{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
.offer p{
    text-align: center;
}

.card img{
    width: 100%;
}
.card-container {
    width: 55%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 30%;
    padding-bottom: 20px;
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
}
.card p{
    text-align: center;
    font-weight: bold;
}
.aboutus{
    height: 1vh;
    width: 60%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.img-container{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.img-container img{
    width: 90%;
}
.text-container{
    width: 50%;
    padding-right: 50px;
}
.text-container h1{
    color: #f86823;
}
.text-container h2{
    font-weight: bolder;
    font-size: 40px;
}
.text-container p{
    text-align: start;
}

#ofrecemos {
    background-color:#fff;
}
/* Vacio */
.vacio {
    height: 300px;
    background-color: #353956;
}
/*************************** Servicios *************************/
.servicios{
    position: relative;
    top: 380px;
    background-color: #fff;
    padding: 80px 10px 80px 10px;
}
.servicios h2{
    font-size: 45px;
    line-height: 1;
}
.servicios .container-servicios{
    max-width: 1199px;
    margin: auto;
    display: flex;
}
.servicios .wrapper-left,
.servicios .wrapper-right{
    flex: 1;
    padding: 20px;
}
.servicios .decoracion-bg-inferior{
    position: absolute;
    bottom: 0;
    right: 5%;
}
.servicios .decoracion-bg-superior{
    position: absolute;
    top: 0;
    left: 5%;
}

/* left */
.servicios .wrapper-left{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex: 1.2;
    z-index: 2;
}
.servicios .wrapper-left .item-wrapper-left{
    padding: 20px;
    width: 40%;
    box-shadow: 0 0 20px #f1f1f1;
    margin: 10px;
    border-radius: 10px;
    background-color: #fff;
}
.servicios .wrapper-left .item-wrapper-left h3{
    line-height: 1;
    font-size: 25px;
    padding-bottom: 10px;
}
.servicios .wrapper-left .item-wrapper-left > img{
    display: block;
    margin: auto;
}
.servicios .wrapper-left .img-decoration-left{
    position: absolute;
    top:72%;
    left: -4%;
    z-index: -1;
}

/* Right */
.servicios .wrapper-right{
    position: relative;
    flex: 1;
}
.servicios .wrapper-right-2{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.servicios .wrapper-right h4{
    color: rgb(240,134,49);
    font-size: 30px;
    font-weight: 500;
}
.servicios .wrapper-right p{
    padding-top: 10px;
}
.servicios .wrapper-right a{
    display: block;
    background-color: rgb(240,134,49);
    color: #fff;
    width: 250px;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    margin-top: 15px;
    text-align: center;
    font-weight: bolder;
}
.servicios .wrapper-right .img-decoration{
    text-align: end;
}

.servicios .wrapper-right .lista-servicios {
    padding-top: 20px;
}
.servicios .wrapper-right .lista-servicios li{
    color: #000;
    font-size: 20px;
    font-weight: lighter;
}

/*********************** Logros **********************/

.logros{
    background-color: #fff;
    padding: 80px 10px 80px 10px;
    position: relative;
    top: 380px;
}
.logros h2{
    font-size: 45px;
    line-height: 1;
}
.logros .container-logros{
    max-width: 1199px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.logros .wrapper-left,
.logros .wrapper-right{
    padding: 20px;
}
.logros .wrapper-left{
    flex: 1;
}
.logros .wrapper-right{
    flex: 1.3;
}
.logros .decoracion-bg-inferior{
    position: absolute;
    bottom: 0;
    left: 5%;
}
.logros .decoracion-bg-superior{
    position: absolute;
    top: 0;
    right: 5%;
}
/* right */

.logros .wrapper-right{
    position: relative;
    height: 500px;
    width: 100%;
}
.logros .item-wrapper-right{
    position: relative;
    padding: 20px;
    width: 40%;
    box-shadow: 0 0 20px #f3f3f3;
    margin: 10px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    height: 210px;
    width: 210px;
}
.logros .item-wrapper-right h3{
    font-size: 30px;
}
.logros .item-wrapper-right p{
    line-height: 1;
}
.logros .item-wrapper-right:nth-child(1){
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.logros .item-wrapper-right:nth-child(2){
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}
.logros .item-wrapper-right:nth-child(3){
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.logros .item-wrapper-right:nth-child(4){
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.logros .item-wrapper-right .centered{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Left */
.logros .wrapper-left{
    position: relative;
}
.logros .wrapper-left h4{
    color: rgb(240,134,49);
    font-size: 30px;
    font-weight: 480;
}
.logros .wrapper-left p{
    padding-top: 10px;
}
.logros .wrapper-left a{
    display: block;
    background-color: rgb(240,134,49);
    color: #fff;
    width: 250px;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    margin-top: 15px;
    text-align: center;
    font-weight: bolder;
}
.logros .wrapper-left .img-decoration{
    position: absolute;
    left: -120px;
}
.logros .wrapper-left-2{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
